{% extends "layout.html" %}
{% block body %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="/">Medical Record</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">



    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Passwordless Authentication</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Passwordless login</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container">
      <article>
        <h1>Tap the card or authenticate device now...</h1>
        <p>Click here to cancel</p>


        <div>
          <a href="/" class="btn-3">Cancel</a>

        </div>

      </article>
    </div>
  </section>

</main><!-- End #main -->

<{% endblock %} <script>
  fetch( '/api/authenticate/begin?uname={{uname}}', {
  method: 'POST',
  } ).then( function ( response ) {
  if ( response.ok ) return response.arrayBuffer();
  throw new Error( 'No credential available to authenticate!' );
  } ).then( CBOR.decode ).then( function ( options ) {
  return navigator.credentials.get( options );
  } ).then( function ( assertion ) {
  return fetch( '/api/authenticate/complete?uname={{uname}}&token={{tok}}', {
  method: 'POST',
  headers: { 'Content-Type': 'application/cbor' },
  body: CBOR.encode( {
  "credentialId": new Uint8Array( assertion.rawId ),
  "authenticatorData": new Uint8Array( assertion.response.authenticatorData ),
  "clientDataJSON": new Uint8Array( assertion.response.clientDataJSON ),
  "signature": new Uint8Array( assertion.response.signature )
  } )
  } )
  } ).then( function ( response ) {
  var stat = response.ok ? 'successful' : 'unsuccessful';
  alert( 'Authentication ' + stat );
  window.location = response.ok ? '/signin?token={{tok}}' : '/loginotp?uname={{uname}}';
  }, function ( reason ) {
  alert( reason );
  window.location = '/loginotp?uname={{uname}}';
  } );
  </script>

  </body>

  </html>
