{% extends "layout.html" %}
{% block body %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="/">Medical Record</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>


                <li><a class="nav-link scrollto" href="/logout">Log Out</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Admin Dashboard</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>Admin Dashboard</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <article>
                <h1>Welcome <b>{{name}}</b></h1>
                <p>See the choices available</p>

                <a class="btn" href="/tagreg"> Register temporary tag </a>
                <a class="btn" href="/fidoreg"> Register new card </a>
                <a class="btn" href="/fidoregplatform"> Register this device </a>
                <a class="btn" href="/fileupload"> Report upload </a>
                <a class="btn" href="/filedownload"> Report download </a>

            </article>
        </div>
    </section>

</main><!-- End #main -->
{% endblock %}
</body>

</html>
