<HTML>
<BODY>

<h1>Temporary tokens</h1>

<button id="scanButton" {{scanbuttonparam}}>Scan</button>
<button id="writeButton" {{writebuttonparam}}>Write</button>

<script>
log = console.log;

if (!("NDEFReader" in window))
  console.log(
    "Web NFC is not available.\n" +
      'Please make sure the "Experimental Web Platform features" flag is enabled on Android.'
  );
</script>

<script>
scanButton.addEventListener("click", async () => {
  log("User clicked scan button");

  try {
    const ndef = new NDEFReader();
    await ndef.scan();
    log("> Scan started");

    ndef.addEventListener("readingerror", () => {
      log("Argh! Cannot read data from the NFC tag. Try another one?");
    });

    ndef.addEventListener("reading", ({ message, serialNumber }) => {
      log(`> Serial Number: ${serialNumber}`);
      log(`> Records: (${message.records.length})`);
	const decoder=new TextDecoder();
	for(const record of message.records)
	{
		const txt=decoder.decode(record.data);
		
		if(txt.startsWith("tag_"))
		{
			window.location.href="/readtag?tagid="+txt
		}
	}
	
    });
  } catch (error) {
    log("Argh! " + error);
  }
});

writeButton.addEventListener("click", async () => {
  log("User clicked write button");

  try {
    const ndef = new NDEFReader();
	await ndef.scan();
    log("> Scan started");

    ndef.addEventListener("readingerror", () => {
      log("Argh! Cannot read data from the NFC tag. Try another one?");
    });

    ndef.addEventListener("reading", ({ message, serialNumber }) => {
      log("Read");
    });
    await ndef.write({
    records: [{ recordType: "text", data: "tag_{{token}}"}]
    });
    setTimeout(function(){
		console.log("delay");
   },1000); //delay is in milliseconds 

    log("> Message written");
    window.location.href="/";
  } catch (error) {
    log("Argh! " + error);
  }
});

</script>
</BODY>
</HTML>
